@import url(./../../App.css);
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.header {
  background: #48c774;
  padding: 0.5em;
  text-align: center;
  font-family: 'Roboto'; }

.blank {
  color: #e7e7e7; }

.weather-bar {
  position: relative;
  margin: 0;
  padding: 1em 0;
  display: flex;
  align-items: center; }

.button {
  outline: none;
  border-radius: 0px; }

.box {
  padding: 1.5em;
  border-radius: 0px; }

hr {
  border-bottom: 0.5px solid #efefef;
  margin: 0; }

.image {
  width: 100px;
  border-radius: 100vh;
  padding: 0px;
  filter: drop-shadow(0px 0px 0.4em #00000079); }

.contents {
  text-align: center;
  padding: 1em; }

.control .input {
  text-transform: capitalize; }

.control li {
  margin: 10px; }

.description {
  text-transform: capitalize;
  font-weight: 400;
  margin: 0px;
  padding: 0 1em;
  display: flex; }
  .description p {
    margin: 5px 0; }
  .description .left {
    flex: 1;
    text-align: left;
    padding-left: 0.5em; }
  .description .right {
    padding-right: 1em;
    text-align: right; }

.heading {
  display: inline;
  color: #48c774;
  font-weight: bold; }

@media screen and (max-width: 768px) {
  img {
    width: 100px; }
  .weather-bar {
    display: block; }
  .description {
    display: block;
    text-align: right; }
    .description .left, .description .right {
      text-align: center; }
    .description p {
      margin: 8px 0; } }
