
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import './../../App.css';

$notification-background-color:red;


.header{background:$success;
    padding:0.5em;
    color:rgb(77, 77, 77);
    text-align: center;
    font-family: 'Montserrat';
 }
.finger{
    text-align: center;
    font-size: 1.5em;
    margin-top:1em;
}

.weather-bar{
  position: relative;
  margin:1.5em 0;
//background: red;
display: flex;
align-items: center;
}
.button{
    border-radius: 0px;
}
.box{
    padding:1.5em;
    border-radius: 0px;
}
hr{
    border-bottom:0.5px solid #efefef;
    margin:0;
  
}

img{
  background: #48c77438;
    //border:3px solid #48c774;
    border-radius:100vh;
    padding:8px;
}

.contents{
    text-align: center;
    padding:1em;
}

input[type="text"]{
    font-family: 'Roboto';
}

.description{
   background: rgba(209, 127, 127, 0);
   text-transform: capitalize;
   font-weight: 400;
   padding:1em 0;
   padding-bottom:0;
   p{
       margin:5px 0;
   }
}

.heading{
    display: inline;
    color:$success;
}

 @media screen and (max-width:"768px"){
    .box{
        .title{
            font-size: 1.4em;
        }
    }
 } 