
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import './../../App.css';

$notification-background-color:red;


.header{background:$success;
    padding:0.5em;
    color:rgb(77, 77, 77);
    text-align: center;
    font-family: 'Montserrat';
 }
.finger{
    text-align: center;
    font-size: 1.5em;
    margin-top:1em;
}

.weather-bar{
  
margin:1.5em 0;
}
.button{
    border-radius: 0px;
}
.box{
    padding:1.5em;
    border-radius: 0px;
}
hr{
    border-bottom:0.5px solid #efefef;
    margin:0;
  
}
img{
    background: #0000002c;
    border-radius: 100vh;
    position: relative;
}
img::before{
    content:'dsfds';
    position: relative;
    background: red;
    width: 200px;
    height:20px;
    top:0px;
    left:200px;
}
.contents{
    text-align: center;
    padding:1em;
}

input[type="text"]{
    font-family: 'Roboto';
}

.description{
   background: rgba(209, 127, 127, 0);
   text-transform: capitalize;
   font-weight: 400;
   padding:1em 0;
   padding-bottom:0;
   p{
       margin:5px 0;
   }
}

.heading{
    display: inline;
    color:$success;
}
.notification > button.delete {
    border: none;
    
  }
  .is-hidden {
    display: none;
  }